<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag 'jquery.mobile', :cache => true %>
  <%= javascript_include_tag 'jquery', 'jquery.mobile', :cache => true %>
  <%= csrf_meta_tag %>
    <link rel="stylesheet" href="/stylesheets/game.css" type="text/css" />
    <script type="text/javascript" src="/javascripts/game.js"></script>

</head>
<body>

<%= yield %>

<%= javascript_include_tag 'topusers' %>
</body>
</html>
