<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag 'jquery.mobile' %>
  <%= javascript_include_tag 'jquery', 'jquery.mobile', 'jquery.player', 'player' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'topusers' %>
</body>
</html>
